{% extends "layout.html" %}

{% block main %}

<form action="/cal" method="post">
    <div class="row">
        <div class="col">
            <a>Conjunto - A</a>
                <input type="text" class="form-control" name="ConjuntoA" placeholder="Ingrese el Conjunto A">
        </div>
        <div class="col">
            <a>Conjunto - B</a>
            <input type="text" class="form-control" name="ConjuntoB" placeholder="Ingrese el Conjunto B">
        </div>
        <div class="col">
            <a>Conjunto - C</a>
            <input type="text" class="form-control" name="ConjuntoC" placeholder="Ingrese el Conjunto C">
        </div>

        <div class="row">
            <a>operacion</a>
            <input type="text" class="form-control" name="operacion" placeholder="Ejemplo: A | B, A & B, A − B, A ^ B">
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Calcular</button>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Simbolo</th>
                <th scope="col">Calculadora</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ejemplo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">∪</th>
                <td> | </td>
                <td> Union </td>
                <td> A | B</td>
              </tr>

              <tr>
                <th scope="row">∩</th>
                <td> & </td>
                <td> Interseccion </td>
                <td> A & B</td>
              </tr>

              <tr>
                <th scope="row">Δ</th>
                <td > ^ </td>
                <td>Diferencia Simetrica</td>
                <td> A ^ B</td>
              </tr>

              <tr>
                <th scope="row">⊆</th>
                <td > <= </td>
                <td> Subconjunto </td>
                <td> A <= B</td>
              </tr>

              <tr>
                <th scope="row">⊇</th>
                <td > >= </td>
                <td> SuperConjunto </td>
                <td> A >= B</td>
              </tr>

              <tr>
                <th scope="row">^</th>
                <td > ** </td>
                <td> Potenciacion </td>
                <td> A ** B </td>
              </tr>
            </tbody>
          </table>
          
    </div>
</form> 
{% endblock %}